h1{
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
}

.art{
  margin: auto;
}

td{
  height: 300px;
  width: 150px;
  border: 6px solid white;
}

#one{
  background-color: #ca0020
}

#two{
  background-color: #f4a582
}

#three{
  background-color: #f7f7f7
}

#four{
  background-color: #92c5de
}

#five{
  background-color: #0571b0
}
